@charset "UTF-8";

/*=======================================

 コンテンツ部の汎用クラス、モジュール、ページ固有設定など 

=======================================*/


/*基本設定
---------------------------------------*/
#mainContents {line-height:1.2em;text-align:justify;text-justify:inter-ideograph;word-break: break-all;}

#mainContents a:link {color: #CC3333;}
#mainContents a:link,
#mainContents a:visited {text-decoration:none;color:#CC3333;}
#mainContents a:hover {text-decoration:underline;}

#mainContents h1{margin:30px 0 30px 0;}

#mainContents h2{
	background:url("/image/bg_h2.gif") 0 0 no-repeat;
	height:41px;
	position:relative;
	line-height:41px;
	padding-left:40px;
	font-size:1.3em!important;
	margin-bottom:15px;
	font-weight:bold;
	color: #CC9966;
}
#mainContents h2 .linkInHeadline{display:block;height:30px;padding:0 10px;border-left:dotted 1px #ccc;position:absolute;right:0;top:0;font-size:0.8em;font-weight:normal;}
#mainContents h2 .linkInHeadline:hover{background:#cef;opacity:0.5;filter:alpha(opacity=50);text-decoration:none;color:#000;}
#mainContents h2.twoLine{line-height:15px;font-size:1.2em;font-weight:normal;text-indent:-2.8em;padding-left:3.5em;}
#mainContents h2.twoLine span.issueDate{line-height:0;}
#mainContents h2.longLength{font-size:1em }

#mainContents h3{margin:0 0 10px 0;font-weight:bold;font-size:1.2em;}
#mainContents p+h3{margin-top:30px;}

#mainContents h4{margin:0 0 10px 0;font-size:1em;}

#mainContents .section1{margin-left:15px;}
#mainContents .section2{margin-left:15px;}

#mainContents .division{margin-bottom:10px;border-bottom:1px dotted #ccc;}
#mainContents .division:last-child{border-bottom:none}

#mainContents p{margin-bottom:15px;line-height:1.5em;text-indent:0;}

#mainContents ul{margin-bottom:15px;}
#mainContents ul li {list-style-type:disc;margin-bottom:15px;}

#mainContents dl{overflow:hidden;margin-bottom:15px;}
#mainContents dt{float:left;position:relative;top:-1px;/position:static;padding-top:12px;}
#mainContents dd{border-top:dotted 1px #ccc;padding-left:10em;position:relative;top:-2px;/position:static;padding-top:12px;margin-bottom:10px;}


#mainContents .orderedList1 li{margin-left:1.1em;text-indent:-1.1em;margin-bottom:10px;list-style-type:none}
#mainContents .orderedList2 li{margin-left:1.65em;text-indent:-1.65em;margin-bottom:10px;list-style-type:none}
#mainContents .orderedList3 li{margin-left:2.2em;text-indent:-2.2em;margin-bottom:10px;list-style-type:none}

#mainContents ol {margin-bottom:15px;}
#mainContents ol>li{margin:0 0 10px 2em; list-style-type: decimal; list-style-position:outside ;}

#mainContents ol ul{margin-left:1em;}
#mainContents ol ul li{list-style-type: disc;}
#mainContents ol ol li{list-style-type: lower-latin;}

#mainContents .bulletList li{list-style-type:disc; list-style-position:outside;margin-bottom:10px;margin-left:1.5em;text-indent:0;}

#mainContents table{border:1px solid #ccc;width:640px; border-collapse:collapse}
#mainContents td{border:1px solid #ccc;padding:15px 5px;}
#mainContents th{border:1px solid #ccc;background:#EEF;font-weight:normal;padding:5px;text-align:center;}

#mainContents table.nestTable {width:100%;}
#mainContents table.nestTable td,
#mainContents table.nestTable th{padding:5px 10px;}



#mainContents img[alt="PDF"]{position:relative;top:0.2em;margin-right:3px;}

#mainContents .linkList {margin-bottom:15px;}
#mainContents .linkList li{background:url(/image/boxarrow_r.png) no-repeat 0 center;padding-left:18px;margin:0 0 5px 5px;line-height:15px;}

#mainContents .linkList2 {margin-bottom:15px;}
#mainContents .linkList2 li{background:url(/image/boxarrow_r.png) no-repeat 0 center;padding-left:18px;margin:0 0 5px 5px;line-height:15px;float:left;width:120px;}

#mainContents .linkList3 {margin-bottom:15px;}
#mainContents .linkList3 li{background:url(/image/boxarrow_r.png) no-repeat 0 center;padding-left:18px;margin:0 0 5px 3px;line-height:15px;float:left;width:180px;}

#mainContents .linkList4 {margin-bottom:15px;}
#mainContents .linkList4 li{background:url(/image/arrow_r.png) no-repeat 0 center;padding-left:8px;margin:0 0 5px 3px;line-height:15px;float:left;width:190px;}

#mainContents .addLink{background:url(/image/boxarrow_r.png) 0 0 no-repeat;margin-left:15px;padding-left:18px;display:inline-block;}
#mainContents .addLink2{background:url(/image/boxarrow_r.png) 0 0 no-repeat;margin-left:0;padding-left:18px;display:inline-block;}

em {font-weight:bold;font-style:normal;}
strong {  font-weight:bold;  font-style:normal; }

/* 共通クラス設定
------------------------------------------------------*/
.left {  text-align:left;}
.right {text-align:right;}
.center {text-align:center;}

.middle{vertical-align:middle;}

img.left {float:left; margin-right:15px; margin-bottom:15px;}
img.right {float:right;margin-left:15px; margin-bottom:15px;}

#mainContents .mIndent1{margin-left:0.6em;text-indent:-0.6em;}
#mainContents .mIndent2{margin-left:1.0em;text-indent:-1.0em;}
#mainContents .mIndent3{margin-left:2.2em;text-indent:-2.2em;}

.small {font-size:0.85em; font-weight:normal;}


/* 2段組
------------------------------------------------------*/
.col2-l { float:left; width:49%;}
.col2-r { float:right; width:49%;}



/* パン屑リスト
------------------------------------------------------*/
#pathList{border-bottom:solid 1px #ccc;padding-bottom:2px;margin-bottom:10px;color:#783b09 !important;}


/* リード文
------------------------------------------------------*/
#leadText{line-height:1.5em;margin-bottom:30px;}

/**/

.upperIndex {text-align:right;}


/* ストライプCSS
------------------------------------------------------*/
.stripe {border: 1px solid #999;border-collapse: collapse;}
.stripe th {border: 1px solid #999;color: #000;background-color: #63c5e1;}
.stripe tr {border: 1px solid #999;background-color: #fff;padding:5px;}
.stripe tr.even td {background-color: #def0fc;}
.stripe td {border: 1px solid #999;padding: 0 0.75em;}
.name1 {width:100px;}
.name2 {width:100px;}

/* shop data
------------------------------------------------------*/
#mainContents #shopdata {background:url(/image/bg_shopdata.gif) 0 0 no-repeat;position:relative;padding:45px 20px 10px 20px;margin-left:10px;}
#mainContents #shopdata h2{background:none;height:32px;border-bottom:1px solid #a28770;width:610px;padding:0;margin-bottom:10px;}


/* タブメニュー
------------------------------------------------------*/
#mainContents .tabMenu {background:url(/image/bg_tm.gif) repeat-x 0 0 ;height:28px;margin-bottom:10px;padding-left:15px;}
#mainContents .tabMenu li{float:left;margin:0 5px;}
#mainContents .tabMenu li a{display:block;font-weight:bold;width:110px;font-size:16px;text-align:center;height:28px;line-height:28px;}
#mainContents .tabMenu li.selected a,
#mainContents .tabMenu li a:hover{background:url(/image/bg_tm_button.gif) 0 0 no-repeat;text-decoration:none;}



/* 囲みエリア 
------------------------------------------------------*/
#mainContents .block{background:#f9f9f8/*#f1f1f1*/;padding:15px 0;margin-bottom:35px; border-radius:10px;}
#mainContents .block h2{background:none;margin:0 0 15px 0;}
#mainContents .block h3{background:none;margin:0 0 15px 15px;}
#mainContents .block p{margin:0 30px 30px 30px;line-height:1.5;}
#mainContents .block li{font-size:1.2em;line-height:1.5;margin-bottom:0.3em;}

#mainContents .block p:last-child{margin-bottom:0;}
#mainContents .block .imgAndTxt{margin:0 0 0 30px;position:relative;}
#mainContents .block .imgAndTxt img{float:left;margin-right:15px;}
#mainContents .block .imgAndTxt .txtBlk{position:absolute;bottom:0;line-height:1.7;}
#mainContents .block .imgAndTxt .txtBlk .name{font-weight:bold;font-size:1.2em;}


/* ページトップへ
------------------------------------------------------*/
#mainContents .toTop {margin:0 auto;text-align:right;clear:both;margin:5px 0;}
#mainContents .toTop a{padding-left:13px; background:url(/image/icon_arrow_up.gif) no-repeat left center;color:#783b09 !important;}



/* ホーム 
------------------------------------------------------*/
#home #mainContents #whatsnew {width:650px;margin:0 0 20px 5px ;}
#home #mainContents #whatsnew h2{padding-left:0;margin-left:0;}
#home #mainContents #whatsnew .blogEntry{background:url(/image/bg_dotline.gif) repeat-x 0 bottom; padding:10px 10px 10px 30px;}
#home #mainContents #whatsnew .blogTitle{font-size:1.5em;font-weight:bold;background:url(/image/icon_arrow_r.gif) 0 0 no-repeat;padding-left:20px;margin-left:-20px;margin-bottom:0.5em;}
#home #mainContents #whatsnew .blogTitle a{color:#783b09 !important;}
#home #mainContents #whatsnew .blogEntryDate{margin-bottom:1.4em;}
#home #mainContents #whatsnew .blogSummary{}



/* メニュー詳細
------------------------------------------------------*/
#mainContents .menuDetail{width:650px;margin-top:30px;margin-left:15px;}
#mainContents .menuDetail div{float:left;width:200px;margin:0 15px 20px 0;text-align:center;}
#mainContents .menuDetail div img {width:200px!important;height:150px!important;}



/* 貸切
------------------------------------------------------*/
#mainContents .menuDetail2{width:650px;margin-top:30px;margin-left:25px;}
#mainContents .menuDetail2 div{
	float:left;
	width:297px;
	text-align:center;
	margin-top: 0;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 0;
}
#mainContents .menuDetail2 div img {width:297px;height:250px; margin-top:10px;}
#mainContents .charter h3{
	margin-top:15px;
	font-weight:normal;
	background:#a28770;
	color:#fff!important;
	display:inline-block;
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	height: auto;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}
#mainContents .charter h3 a{
	margin-top:0px;
	font-size:1em;
	font-weight:bold;
	background:#a28770;
	color:#fff!important;
	display:inline-block;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 8px;
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
}

ceb08a

/* 眉
------------------------------------------------------*/
#mainContents .menuEyebrowDetail{width:650px;margin-top:30px;margin-left:15px;}
#mainContents .menuEyebrowDetail div{float:left;width:250px;margin:0 40px 40px 0;height:260px;position:relative;}
#mainContents .menuEyebrowDetail div img {width:250px;margin-top:15px;position:absolute;bottom:0;}


/* スタッフ紹介
------------------------------------------------------*/
#mainContents .profile{margin-top:30px;}
#mainContents .profile h3{margin-top:15px;font-size:1.5em;font-weight:normal;padding:5px 8px 5px 6px; background:#a28770; color:#fff;display:inline-block;}
#mainContents .profile img {float:left;width:180px;height:180px;margin-right:15px;}

/* ご予約お問い合わせフォーム
------------------------------------------------------*/
#mainContents .formTable{margin-top:30px;border:none;border-bottom:2px solid #CCC;width:600px;}
#mainContents .formTable th{border:none;border-top:2px solid #CCC;padding:1em;width:150px;background:#eee;}
#mainContents .formTable td{border:none;border-top:2px solid #CCC;padding:1em;}
#mainContents .formTable input,
#mainContents .formTable textarea{line-height:1.5em; width:400px;margin:3px 0;}
#mainContents .formTable input[type="checkbox"]{width: auto;}
#mainContents .btnLayout{margin:30px 0;text-align:center;}
#mainContents .btnLayout input{margin: 0 15px;line-height:2em;font-size:1.5em;}

/* リンク
------------------------------------------------------*/
#mainContents .linkBlock{border:1px solid #d2c7a0;padding:20px;margin-bottom:10px;}
#mainContents .linkBlock a{padding-left:13px; background:url(/image/icon_arrow_r.gif) no-repeat left center;color:#783b09 !important;}


/*　ブライダル
------------------------------------------------------*/
.bridalTb{
	border:1px solid #cc9966!important;
}
.bridalTb td{
	text-align: center!important;
		border-bottom:1px solid #cc9966!important;
		border-left:1px solid #cc9966!important;
		border-right:1px solid #cc9966!important;
	font-weight: 900;

}
.bridalTb td:first-child{
		border-top:1px solid #cc9966!important;

}
.bridalTb td:nth-child(2){
		border-top:1px solid #cc9966!important;

}

#cut #mainContents h3{
	margin-top: 20px;
	font-size: 110% !important;
}