h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 4;
  font-weight: 700 !important;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 3.73vw;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 4.73vw;
  }
}
section {
  padding-bottom: 120px;
}
.key {
  margin-bottom: 13px;
}
.wrap p {
  margin-bottom: 35px;
  font-size: 1rem;
  line-height: 2.5;
}
@media screen and (max-width: 768px) {
  .key {
    width: 100vw;
    margin: 0 -5.2%;
  }
  .wrap p {
    font-size: 3vw;
    margin-bottom: 28px;
  }
}
.brand-info {
  border-top: 3px solid #000;
  margin-top: 75px;
  padding-top: 28px;
}
@media screen and (max-width: 768px) {
  .brand-info {
    margin-top: 7.5vw;
    padding-top: 2vw;
  }
  .brand-info dl dt {
    font-size: 3vw !important;
  }
  .brand-info dl dd {
    font-size: 3vw !important;
  }
}
.brand-info dl {
  display: flex;
  margin-bottom: 25px;
}
.brand-info dl dt {
  width: 180px;
  font-size: 1rem;
}
.brand-info dl dd {
  width: calc(100% - 180px);
  font-size: 1rem;
  line-height: 2.2;
  word-break: keep-all
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .brand-info dl dt {
    width: 220px;
  }
  .brand-info dl dd {
    width: calc(100% - 220px);
  }
}
@media screen and (max-width: 768px) {
  .brand-info dl {
    margin-bottom: 2em;
  }
  .brand-info dl dt {
    width: 140px;
  }
  .brand-info dl dd {
    width: calc(100% - 140px);
  }
}
@media screen and (max-width: 480px) {
  .brand-info dl dt {
    width: 110px;
  }
  .brand-info dl dd {
    width: calc(100% - 110px);
  }
}
footer {
  width: 100%;
  max-width: 922px;
  margin: 0% auto 0!important;
  padding-left: 0px;
}
footer .store-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-top: 100px;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}
footer p.store-info {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0px;
}
footer .sns {
  margin-top: 0px;
}

@media screen and (max-width: 1200px) {
  footer {
    width: 100%;
    padding-left: 0%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1300px) {
  .nav-menu {
    width: calc(280px + 7.2%);
    left: calc(-280px - 7.2%);
  }
footer .store-name {
  font-size: 24px!important;
  font-weight: 500;
  line-height: 1;
  margin-top: 100px;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}
footer p.store-info {
  font-size: 1rem!important;
  line-height: 1.4;
  margin-bottom: 10px!important;
}
}
