h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 4;
  font-weight: 700 !important;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 3.73vw;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 4.73vw;
  }
}
section {
  padding-bottom: 120px;
}
footer {
  width: calc(77% - 320px);
  max-width: 922px;
  margin: 7% auto 0 !important;
  padding-left: 0px;
}
@media screen and (max-width: 1200px) {
  footer {
    width: 100%;
    padding-left: 0%;
  }
}
#thanks {
  display: none;
}
footer .shop_name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}
footer p.shop_info {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0px;
}