.slide {
  position: relative;
	z-index:1;

}
.slide-text {
  text-transform: uppercase;
  z-index: 1;
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: 3.646vw;
  line-height: 1.29;
  letter-spacing: 0.35em;
}
.store-info {
  line-height: 1.5;
}
.slide a {
  text-decoration: none;
  padding-bottom: 26px;
  display: block;
}
.slide a:hover img {
  opacity: 1 !important;
}
.slide-number {
  padding-left: 92px;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.4;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 4px;
  z-index: 1;
}
.slide-number:before {
  content: '';
  position: absolute;
  left: 0;
  top: 48%;
  width: 80px;
  height: 1px;
  background-color: #dbdbdb;
}
.slide-number span.slide-progress {
  content: '';
  position: absolute;
  left: 0;
  top: 48%;
  width: 0;
  height: 1px;
  background-color: #231815;
  transition: 0s linear;
}
.slide-number span.current:after {
  content: '/';
  display: inline-block;
  text-align: center;
  font-size: 11px;
  padding: 0 3px;
}
.slick-active .slide-number .slide-progress {
  animation-name: slide-progress;
  animation-duration: 4s;
  animation-timing-function: linear;
}
@keyframes slide-progress {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}


@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}
@keyframes extend{
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}

@media screen and (min-width: 1221px) {
  main {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 769px) {
  main {
    height: 100vh;
    padding: 0 6.2%;
  }
  #container {
    align-items: initial;
    position: relative;
    width: 100%;
  }
  #sidebar {
    position: relative;
  }
  section {
    margin: 0 2.6%;
    width: calc(94.8% - 360px);
  }
  .slide a {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
  }
  .slide-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .slide-image {
    width: 50%;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 0;
  }
  .nav-menu {
    width: calc(360px + 8.6%);
    left: calc(-360px - 8.6%);
  }
}
@media screen and (min-width: 769px) and (max-width: 1300px) {
  .nav-menu {
    width: calc(266px + 8.6%);
    left: calc(-266px - 8.6%);
  }
}
@media screen and (min-width: 769px) and (max-width: 1220px) {
  section {
    width: calc(94.8% - 240px) !important;
  }
  #sidebar {
    width: 240px;
  }
  .nav-menu {
    width: calc(227px + 8.6%);
    left: calc(-227px - 8.6%);
  }
}
@media screen and (max-width: 768px) {
  section {
    padding: 0;
  }
  #sidebar footer {
    display: none;
  }
  .slide-text {
    font-size: 12.78vw;
    position: relative;
    margin-top: -9vw;
    margin-bottom: -8vw;
  }
  #container {
    padding-bottom: 10vw;
  }
  .slide-number {
    right: 4.5%;
  }
}
