@charset "UTF-8";


/*  印刷用CSS
------------------------------------------------------*/


html{background:none}
body {background:none}
body#home{background:none}

a:link,a:visited {text-decoration:none;color:#000 !important;}


/* div#wrapper
------------------------------------------------------*/
#wrapper {width:900px;margin:0 auto;text-align:left;}

#home #dropshadow{display:none;}

/* div#header
------------------------------------------------------*/
#header {height:85px;border-bottom:3px double #000;}
#header #utilityNavigation  {display:none;}
#header #globalNavigation {display:none;}
#header #fontsizeSwitcher {display:none;}



/* div#contents
------------------------------------------------------*/
#contents {background:none;}

/* div#mainContents
------------------------------------------------------*/
#mainContents {float:none;}
#mainContents #pathList, 
#mainContents .upperIndex, 
#mainContents #reportIndex{display:none;}
#mainContents .toTop{display:none;}

/* div#subContents
------------------------------------------------------*/
#subContents {display:none;}

/* div#footer
------------------------------------------------------*/
#footer {height:auto;border-top:3px double #000;color:#000;}
#footer .toTop{display:none;}
#footerContents #col-1{display:none;}
#footerContents #col-2{display:none;}
#footerContents #col-3{width:auto;margin-left:0px;}

#footer #copyright{position:static;background:none;text-indent:0;width:auto;margin-top:15px;}



