@charset "UTF-8";
*, ::before, ::after {
  box-sizing: border-box;
}

ul, ol, figure, p, button, input, h1, h2, h3, h4, h5, h6, p, dl, dt, dd {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-feature-settings: "palt";
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

svg {
  width: 100%;
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
@media screen and (min-width: 769px) {
  html {
    font-size: min(0.715vw, 10px);
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 1.334vw;
  }
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: #231815;
  word-break: break-all;
}

main {
  display: block;
  background-color: #f4f2e3;
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .sp-only {
    display: none !important;
  }
}

.slideUp {
  opacity: 0;
  translate: 0 20px;
  transition: opacity 1s linear 0s, translate 1s ease 0s;
}
.slideUp.is-animated {
  opacity: 1;
  translate: 0 0;
}

.desc_ttl {
  text-align: center;
  font-weight: bold;
  color: #da665f;
}
@media screen and (min-width: 769px) {
  .desc_ttl {
    margin-top: 3rem;
    font-size: 2.4rem;
    line-height: 3.8rem;
  }
}
@media screen and (max-width: 768px) {
  .desc_ttl {
    margin-top: 2.5rem;
    font-size: 3rem;
    line-height: 4.6rem;
  }
}

.desc_txt {
  letter-spacing: 0.07em;
  text-align: justify;
}
@media screen and (min-width: 769px) {
  .desc_txt {
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .desc_txt {
    margin-top: 1rem;
    font-size: 2.2rem;
    line-height: 3.8rem;
  }
}
.desc_txt sup {
  font-size: 0.5em;
  vertical-align: text-bottom;
}

.desc_att {
  padding-left: 1em;
  text-indent: -1em;
}
@media screen and (min-width: 769px) {
  .desc_att {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}
@media screen and (max-width: 768px) {
  .desc_att {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 3.2rem;
  }
}

@media screen and (min-width: 769px) {
  .foot p {
    font-size: 1.5rem;
    line-height: calc(1.4 * 1em);
    margin-block: calc((1em - 1lh) / 2);
  }
}
@media screen and (max-width: 768px) {
  .foot p {
    font-size: 2rem;
    line-height: calc(1.75 * 1em);
    margin-block: calc((1em - 1lh) / 2);
  }
}
.foot .to_top {
  height: auto;
  position: fixed;
  z-index: 999;
  transition: all 0.15s ease-out;
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 769px) {
  .foot .to_top {
    width: 13.8rem;
    inset: auto 3rem 3rem auto;
  }
}
@media screen and (max-width: 768px) {
  .foot .to_top {
    display: none;
  }
}
.foot .to_top.is-active {
  opacity: 1;
  visibility: visible;
}
@media (any-hover: hover) {
  .foot .to_top > a:hover {
    transition: all 0.4s cubic-bezier(0.37, 0, 0.63, 1);
    opacity: 0.7;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_footer_wrap.-pc {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .foot .company_footer_wrap.-sp {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_footer_wrap.-sp {
    margin-top: 60px;
  }
}
.foot .company_inner {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 769px) {
  .foot .company_inner {
    padding: 4em 0 0rem 0;
    width: 108rem;
    justify-content: left;
    align-items: end;
    gap: 10px 10px;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_inner {
    width: 43.5rem;
    justify-content: center;
  }
}
.foot .company_inner2 {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
}
.foot .company_inner2 .company_data {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.2px;
}
@media screen and (max-width: 768px) {
  .foot .company_inner2 .company_data {
    font-size: 12px;
    line-height: normal;
    text-align: center;
    letter-spacing: normal;
    margin-top: 4rem;
  }
}
@media screen and (min-width: 769px) {
  .foot .company_inner2 {
    padding: 2em 0;
    width: 108rem;
    justify-content: space-between;
    align-items: end;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_inner2 {
    width: 56.5rem;
    justify-content: center;
  }
}
@media screen and (min-width: 769px) {
  .foot .company_name {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_name {
    width: 32.7rem;
    margin-top: 6.1rem;
  }
}
.foot .company_desc {
  letter-spacing: 0.135em;
  padding-bottom: 4px;
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .foot .company_desc {
    margin-top: 0rem;
    text-align: center;
    margin-left: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_cta_wrap {
    text-align: center;
  }
}
.foot .company_cta_txt {
  font-weight: bold;
  letter-spacing: 0.14em;
  color: #FFFFFF;
  background: #808080;
}
@media screen and (min-width: 769px) {
  .foot .company_cta_txt {
    font-size: 1.6rem;
    padding: 3px 7px;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_cta_txt {
    font-size: 2.5rem;
    padding: 5px 8px;
  }
}
@media screen and (min-width: 769px) {
  .foot .company_cta_inner {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_cta_inner {
    margin-top: 2.5rem;
    padding: 1rem 1rem;
  }
}
.foot .company_cta {
  height: auto;
  display: block;
}
@media screen and (min-width: 769px) {
  .foot .company_cta {
    width: 28.2rem;
    pointer-events: none;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_cta {
    width: 33.3rem;
  }
}
@media screen and (min-width: 769px) {
  .foot .company_cta_time {
    font-family: Noto Sans JP;
    font-size: 14px;
    font-weight: bold;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_cta_time {
    margin-top: 1.5rem;
    line-height: 22.81px;
    letter-spacing: 1.21px;
    font-size: 14px;
    font-weight: bold;
  }
}
.foot .company_licence {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .foot .company_licence > li p {
    font-size: 8px;
  }
}
@media screen and (min-width: 769px) {
  .foot .company_licence {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_licence {
    margin: 4rem 0 1.8rem;
    flex-direction: column;
    align-items: center;
  }
}
.foot .company_copy {
  padding: 1em 0;
  background-color: #42BEAD;
}
@media screen and (max-width: 768px) {
  .foot .company_copy {
    margin-bottom: 10px;
  }
}
.foot .company_copy small {
  display: block;
  text-align: center;
  color: white;
}
@media screen and (min-width: 769px) {
  .foot .company_copy small {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_copy small {
    font-size: 2rem;
  }
}
.foot .company_catch {
  text-align: center;
  font-size: 3.7rem;
  line-height: 48.55px;
  letter-spacing: 11.84px;
  color: #1A1A1A;
  font-weight: bold;
  background-color: #F4F2E3;
}
@media screen and (min-width: 769px) {
  .foot .company_catch {
    padding: 3rem 0 3rem;
  }
}
@media screen and (max-width: 768px) {
  .foot .company_catch {
    padding: 3rem 0 1rem;
    font-size: 2.75rem;
    letter-spacing: 5.12px;
  }
}

.dialog {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  border: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.dialog::backdrop {
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease-in-out;
}
.dialog.show {
  opacity: 1;
}
.dialog.show::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  border: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.dialog::backdrop {
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease-in-out;
}
.dialog.show {
  opacity: 1;
}
.dialog.show::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog_cont {
  margin: 12rem auto 0;
  position: relative;
}
@media screen and (min-width: 769px) {
  .dialog_cont {
    width: 112rem;
  }
}
@media screen and (max-width: 768px) {
  .dialog_cont {
    width: 67rem;
    text-align: left;
  }
}

.dialog_inner {
  background: #fff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 769px) {
  .dialog_inner {
    max-height: calc(100vh - 240px);
  }
}
@media screen and (max-width: 768px) {
  .dialog_inner {
    max-height: calc(100vh - 140px);
  }
}

@media screen and (min-width: 769px) {
  .dialog_wrap {
    padding: 6rem 16rem;
  }
}
@media screen and (max-width: 768px) {
  .dialog_wrap {
    padding: 7rem 4rem;
  }
}

.dialog_open {
  font-weight: 700;
  color: #000;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 769px) {
  .dialog_open {
    height: 2.4rem;
    font-size: 2rem;
    z-index: 200;
    text-align: right;
    right: 4rem;
    top: 4.5rem;
  }
}
@media screen and (max-width: 768px) {
  .dialog_open {
    font-size: 1.8rem;
    text-align: right;
    right: 3rem;
    top: 4.5rem;
    z-index: 200;
  }
}
.dialog_open > span {
  display: inline;
  text-decoration: underline;
  color: #43b5a5;
}
@media (any-hover: hover) {
  .dialog_open:hover {
    opacity: 0.8;
  }
}

.dialog_close {
  width: 6rem;
  height: 6rem;
  border: none;
  border-radius: 50%;
  background-color: #00738a;
  position: absolute;
  top: -3rem;
  z-index: 10;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 769px) {
  .dialog_close {
    right: -3rem;
  }
}
@media screen and (max-width: 768px) {
  .dialog_close {
    right: -2rem;
  }
}
.dialog_close::before, .dialog_close::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 3.8rem;
  height: 1px;
  top: 2.8rem;
  left: 1rem;
}
.dialog_close::before {
  transform: rotate(-45deg);
}
.dialog_close::after {
  transform: rotate(45deg);
}

.dialog_box + .dialog_box {
  margin-top: 4rem;
}

.dialog_ttl {
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #00738a;
}
@media screen and (min-width: 769px) {
  .dialog_ttl {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .dialog_ttl {
    font-size: 3.6rem;
  }
}
.dialog_ttl + .dialog_txt {
  margin-top: 2rem;
}

.dialog_txt {
  line-height: 2;
  position: relative;
}
@media screen and (min-width: 769px) {
  .dialog_txt {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .dialog_txt {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 769px) {
  .dialog_txt.mark {
    padding-left: 1.1rem;
  }
}
@media screen and (max-width: 768px) {
  .dialog_txt.mark {
    padding-left: 2.2rem;
  }
}
.dialog_txt.mark::before {
  content: "";
  display: inline-block;
  background-color: #00738a;
  position: absolute;
  left: 0;
}
@media screen and (min-width: 769px) {
  .dialog_txt.mark::before {
    width: 0.5rem;
    height: 0.5rem;
    top: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .dialog_txt.mark::before {
    width: 1rem;
    height: 1rem;
    top: 2.5rem;
  }
}
@media screen and (min-width: 769px) {
  .dialog_txt.num {
    padding-left: 1.1rem;
  }
}
@media screen and (max-width: 768px) {
  .dialog_txt.num {
    padding-left: 4.2rem;
  }
}
.dialog_txt.num::before {
  counter-increment: number 1;
  content: counter(number);
  display: inline-block;
  border: 1px solid;
  border-radius: 9999999px;
  text-align: center;
  letter-spacing: 0;
  position: absolute;
}
@media screen and (min-width: 769px) {
  .dialog_txt.num::before {
    width: 1.7rem;
    height: 1.7rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    top: 0.8rem;
    left: -1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .dialog_txt.num::before {
    width: 3.4rem;
    height: 3.4rem;
    font-size: 2.4rem;
    line-height: 2.8rem;
    top: 1.2rem;
    left: 0;
  }
}

.dialog_subttl {
  font-weight: bold;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 769px) {
  .dialog_subttl {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 768px) {
  .dialog_subttl {
    font-size: 3.2rem;
  }
}
.dialog_subttl + .dialog_txt {
  margin-top: 1.5rem;
}

.dialog_list {
  margin-top: 0.5rem;
  padding-left: 2.5rem;
  counter-reset: number;
}

.kv_cta > a {
  display: block;
  position: relative;
  background-image: url(../img/cta-top-btn.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -9999px;
}
@media screen and (min-width: 769px) {
  .kv_cta > a {
    height: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .kv_cta > a {
    width: 66rem;
    height: 24.2rem;
  }
}
.kv_cta > a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/cta-top-btn-hover.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media (any-hover: hover) {
  .kv_cta > a:hover::after {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .kv_cta.-sp > a {
    background-image: url(../img/cta_btn_sp.png);
  }
}
@media screen and (max-width: 768px) {
  .kv_cta.-sp > a::after {
    background-image: url(../img/cta_btn_hover_sp.png);
  }
}

.intro_cta > a,
.consult_cta > a {
  display: block;
  position: relative;
  background-image: url(../img/cta_btn.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -9999px;
}
@media screen and (min-width: 769px) {
  .intro_cta > a,
  .consult_cta > a {
    height: 9.1rem;
  }
}
@media screen and (max-width: 768px) {
  .intro_cta > a,
  .consult_cta > a {
    width: 100%;
  }
}
.intro_cta > a::after,
.consult_cta > a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/cta-2nd-btn-hover.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media (any-hover: hover) {
  .intro_cta > a:hover::after,
  .consult_cta > a:hover::after {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .intro_cta.-sp > a,
  .consult_cta.-sp > a {
    background-image: url(../img/cta-consult-btn-sp.png);
  }
}
.cta_fixed {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .cta_fixed.-pc .cta_fixed_btn {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .cta_fixed.-pc {
    background-image: url(../img/hedear-back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    height: 100px;
  }
}
@media screen and (max-width: 768px) {
  .cta_fixed.-pc {
    /* ロゴヘッダーが追尾 */
    position: fixed;
    z-index: 9999;
    background-image: url(../img/hedear-back_sp.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@media screen and (max-width: 768px) {
  .cta_fixed.-sp {
    position: fixed;
    z-index: 999;
    bottom: 0;
  }
}
@media screen and (min-width: 769px) {
  .cta_fixed.-sp .cta_fixed_btn {
    display: none;
  }
}

.cta_fixed_wrap {
  margin: 0 auto;
  width: 110rem;
}
@media screen and (min-width: 769px) {
  .cta_fixed_wrap {
    width: 110rem;
    justify-content: space-between;
    padding: 35px 0 35px;
  }
}
@media screen and (max-width: 768px) {
  .cta_fixed_wrap {
    width: 65rem;
    padding: 24px 0 30px;
  }
}

.cta_fixed_btn {
  height: auto;
  display: block;
  transition: all 0.15s ease-out;
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 769px) {
  .cta_fixed_btn {
    width: 24rem;
  }
}
@media screen and (max-width: 768px) {
  .cta_fixed_btn {
    width: 70rem;
    position: absolute;
    inset: auto 2.5rem 4rem 2.5rem;
  }
}
.cta_fixed_btn.is-active {
  opacity: 1;
  visibility: visible;
}
@media (any-hover: hover) {
  .cta_fixed_btn:hover {
    opacity: 0.8;
  }
}

.kv {
  background-repeat: no-repeat;
}
@media screen and (min-width: 769px) {
  .kv {
    background-position: center top, center bottom;
    background-size: 172rem, 100%;
  }
}
@media screen and (max-width: 768px) {
  .kv {
    background-position: center 4rem;
    background-size: contain;
  }
}

.kv_wrap {
  margin-inline: auto;
}
@media screen and (min-width: 769px) {
  .kv_wrap {
    width: 140rem;
  }
}
@media screen and (max-width: 768px) {
  .kv_wrap {
    width: 75rem;
  }
}

.kv_logo {
  height: auto;
}
@media screen and (min-width: 769px) {
  .kv_logo {
    width: 23.3rem;
  }
}
@media screen and (max-width: 768px) {
  .kv_logo {
    width: 25.4rem;
  }
}

.kv_inner {
  display: grid;
}
@media screen and (min-width: 769px) {
  .kv_inner {
    margin: 0 0 0 10rem;
    padding-top: 54px;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    -moz-column-gap: 6.5rem;
         column-gap: 6.5rem;
  }
}
@media screen and (max-width: 768px) {
  .kv_inner {
    padding-top: 16rem;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.kv_img {
  height: auto;
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 769px) {
  .kv_img {
    width: 49rem;
    grid-area: 1/2/6/3;
  }
}
@media screen and (max-width: 768px) {
  .kv_img {
    margin-top: 1rem;
    width: 61.5rem;
    order: 2;
  }
  .kv_img img {
    width: 100%;
    height: auto;
  }
}

.kv_ttl {
  height: auto;
}
@media screen and (min-width: 769px) {
  .kv_ttl {
    width: 56rem;
    grid-area: 1/1/2/2;
  }
}
@media screen and (max-width: 768px) {
  .kv_ttl {
    width: 61.5rem;
    order: 1;
  }
}

.kv_point {
  height: auto;
}
@media screen and (min-width: 769px) {
  .kv_point {
    margin: 2.5rem auto 0;
    width: 55.9rem;
    grid-area: 2/1/3/2;
  }
}
@media screen and (max-width: 768px) {
  .kv_point {
    margin: -2.5rem auto 0;
    width: 61.5rem;
    order: 3;
    z-index: 4;
    margin-top: 0px;
  }
}

.kv_caption {
  text-align: justify;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 769px) {
  .kv_caption {
    font-size: 1.2rem;
    margin: 1rem auto 0;
    width: 55.9rem;
    grid-area: 3/1/3/2;
  }
}
@media screen and (max-width: 768px) {
  .kv_caption {
    font-size: 2rem;
    margin: 2rem auto 0;
    width: 61.5rem;
    order: 3;
    z-index: 4;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .kv_cta {
    order: 5;
  }
}
.kv_cta > a {
  display: block;
  position: relative;
  background-image: url(../img/cta-top-btn.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -9999px;
}
@media screen and (min-width: 769px) {
  .kv_cta > a {
    height: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .kv_cta > a {
    width: 66rem;
    height: 24.2rem;
  }
}
.kv_cta > a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/cta-top-btn-hover.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media (any-hover: hover) {
  .kv_cta > a:hover::after {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .kv_cta.-sp > a {
    background-image: url(../img/cta_btn_sp.png);
  }
}
@media screen and (max-width: 768px) {
  .kv_cta.-sp > a::after {
    background-image: url(../img/cta_btn_hover_sp.png);
  }
}

@media screen and (min-width: 769px) {
  .kv_gift {
    margin: 0rem auto 0;
    width: 114.4rem;
    grid-area: 5/1/5/3;
    position: relative;
    transform: translateX(-4rem);
    z-index: 3;
  }
}
@media screen and (max-width: 768px) {
  .kv_gift {
    margin: 1.5rem auto 0;
    grid-area: 6/1/6/2;
  }
}
.kv_gift picture img {
  height: auto;
}
@media screen and (min-width: 769px) {
  .kv_gift picture img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .kv_gift picture img {
    width: 66rem;
  }
}

@media screen and (min-width: 769px) {
  .kv_gift2 {
    margin: 0 auto 0;
    width: 114.4rem;
    grid-area: 4/1/5/3;
    position: relative;
    z-index: 3;
  }
}
@media screen and (max-width: 768px) {
  .kv_gift2 {
    margin: 1.5rem auto 0;
    grid-area: 5/1/6/2;
    text-align: center;
  }
}
.kv_gift2 picture img {
  height: auto;
}
@media screen and (min-width: 769px) {
  .kv_gift2 picture img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .kv_gift2 picture img {
    width: 66rem;
  }
}

.kv_gift2_txt {
  color: #4c4c4c;
}
@media screen and (min-width: 769px) {
  .kv_gift2_txt {
    margin: 2rem auto;
    display: flex;
    justify-content: right;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .kv_gift2_txt {
    margin: 2rem auto 0;
    width: 65.8rem;
    font-size: 2rem;
    line-height: 3.4rem;
    text-align: left;
  }
}

.intro,
.strong,
.voice02 {
  background-repeat: no-repeat;
}
@media screen and (min-width: 769px) {
  .intro,
  .strong,
  .voice02 {
    background-position: center top;
  }
}
@media screen and (max-width: 768px) {
  .intro,
  .strong,
  .voice02 {
    background-size: contain;
  }
}

.merit,
.voice01 {
  position: relative;
}
.merit::after,
.voice01::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fffff7;
  position: absolute;
  top: 0;
  left: 0;
}

.merit_wrap,
.strong_wrap,
.voice01_wrap,
.voice02_wrap {
  position: relative;
  z-index: 1;
}

.ttl01 {
  margin-inline: auto;
  position: relative;
}
.ttl01 p {
  height: auto;
  position: absolute;
}
.ttl01 h2 {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .intro {
    background-image: url(../img/bg_cloud02_pc.png);
    background-size: 160rem;
    background-position: center 26px;
  }
}

@media screen and (min-width: 769px) {
  .intro_wrap {
    padding: 7rem 0 22.5rem;
    display: flex;
    justify-content: center;
    -moz-column-gap: 7rem;
         column-gap: 7rem;
  }
}
@media screen and (max-width: 768px) {
  .intro_wrap {
    padding: 3.2rem 0 18rem;
  }
}

.intro_desc h2 {
  height: auto;
}
@media screen and (min-width: 769px) {
  .intro_desc h2 {
    width: 45.4rem;
  }
}
@media screen and (max-width: 768px) {
  .intro_desc h2 {
    margin-inline: auto;
    width: 61.2rem;
  }
}
@media screen and (min-width: 769px) {
  .intro_desc ul {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .intro_desc ul {
    margin: 2.5rem auto 0;
    width: 60.6rem;
  }
}
.intro_desc ul li {
  letter-spacing: 0.07em;
}
@media screen and (min-width: 769px) {
  .intro_desc ul li {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}
@media screen and (max-width: 768px) {
  .intro_desc ul li {
    font-size: 2.4rem;
    line-height: 4.7rem;
  }
}
@media screen and (min-width: 769px) {
  .intro_desc ul li + li {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .intro_cta {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .intro_cta {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 769px) {
  .intro_cta > a {
    width: 45.4rem;
  }
}
@media screen and (max-width: 768px) {
  .intro_cta > a {
    margin-inline: auto;
  }
}

@media screen and (min-width: 769px) {
  .intro_img {
    width: 82.1rem;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .intro_img {
    margin: 0 auto;
    width: 66rem;
    height: auto;
  }
}

@media screen and (min-width: 769px) {
  .merit {
    margin-top: -20rem;
  }
}
@media screen and (max-width: 768px) {
  .merit {
    margin-top: -13rem;
  }
}
@media screen and (min-width: 769px) {
  .merit::after {
    clip-path: polygon(0 16rem, 100% 0, 100% 100%, 0 calc(100% - (16rem)));
  }
}
@media screen and (max-width: 768px) {
  .merit::after {
    clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 calc(100% - (12rem)));
  }
}
@media screen and (min-width: 769px) {
  .merit .ttl01 {
    width: 51.3rem;
  }
}
@media screen and (max-width: 768px) {
  .merit .ttl01 {
    width: 65.7rem;
  }
}
@media screen and (min-width: 769px) {
  .merit .ttl01 p {
    width: 13.5rem;
    top: -7rem;
    left: -11rem;
  }
}
@media screen and (max-width: 768px) {
  .merit .ttl01 p {
    width: 18.4rem;
    top: -14rem;
    left: 0;
  }
}

@media screen and (min-width: 769px) {
  .merit_wrap {
    padding: 26rem 0;
  }
}
@media screen and (max-width: 768px) {
  .merit_wrap {
    padding: 20rem 0;
  }
}

.merit_desc {
  display: grid;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .merit_desc {
    margin-top: 7rem;
    grid-template-columns: repeat(4, 25rem);
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .merit_desc {
    margin-top: 6rem;
    grid-template-columns: repeat(2, 31.4rem);
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 5rem;
  }
}

@media screen and (min-width: 769px) {
  .strong {
    background-image: url(../img/bg_cloud03_pc.png);
    background-size: 169rem;
  }
}
@media screen and (max-width: 768px) {
  .strong {
    background-image: url(../img/bg_cloud03_sp.png);
    background-position: center top;
  }
}
@media screen and (min-width: 769px) {
  .strong .ttl01 {
    width: 41.8rem;
  }
}
@media screen and (max-width: 768px) {
  .strong .ttl01 {
    width: 59.2rem;
  }
}
@media screen and (min-width: 769px) {
  .strong .ttl01 p {
    width: 18.8rem;
    top: -8rem;
    left: -17rem;
  }
}
@media screen and (max-width: 768px) {
  .strong .ttl01 p {
    width: 25rem;
    top: -16rem;
    left: -5rem;
  }
}

@media screen and (min-width: 769px) {
  .strong_wrap {
    padding: 10rem 0 16rem;
  }
}
@media screen and (max-width: 768px) {
  .strong_wrap {
    padding: 4.5rem 0 11.5rem;
  }
}

.strong_desc {
  display: grid;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .strong_desc {
    margin-top: 7rem;
    grid-template-columns: repeat(3, 34.3rem);
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 9rem;
  }
}
@media screen and (max-width: 768px) {
  .strong_desc {
    margin-top: 8rem;
    grid-template-columns: repeat(2, 31.7rem);
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
    row-gap: 6rem;
  }
}

@media screen and (min-width: 769px) {
  .voice01 {
    margin-top: -5rem;
  }
}
@media screen and (max-width: 768px) {
  .voice01 {
    margin-top: -3rem;
  }
}
@media screen and (min-width: 769px) {
  .voice01::after {
    clip-path: polygon(0 14rem, 100% 0, 100% 100%, 0 calc(100% - (10rem)));
  }
}
@media screen and (max-width: 768px) {
  .voice01::after {
    clip-path: polygon(0 4rem, 100% 0, 100% 100%, 0 calc(100% - (7rem)));
  }
}
@media screen and (min-width: 769px) {
  .voice01 .ttl01 {
    width: 37.9rem;
  }
}
@media screen and (max-width: 768px) {
  .voice01 .ttl01 {
    width: 49.8rem;
  }
}
@media screen and (min-width: 769px) {
  .voice01 .ttl01 p {
    width: 13.5rem;
    top: -7rem;
    left: -11rem;
  }
}
@media screen and (max-width: 768px) {
  .voice01 .ttl01 p {
    width: 19.1rem;
    top: -13rem;
    left: -9rem;
  }
}

@media screen and (min-width: 769px) {
  .voice01_wrap {
    padding: 29rem 0 22rem;
  }
}
@media screen and (max-width: 768px) {
  .voice01_wrap {
    padding: 14rem 0;
  }
}

.voice01_desc {
  display: grid;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .voice01_desc {
    margin-top: 7rem;
    grid-template-columns: 82rem;
    row-gap: 6rem;
  }
}
@media screen and (max-width: 768px) {
  .voice01_desc {
    margin-top: 8.5rem;
    grid-template-columns: 66rem;
    row-gap: 4rem;
  }
}

.voice02 {
  background-repeat: no-repeat, no-repeat;
}
@media screen and (min-width: 769px) {
  .voice02 {
    background-image: url(../img/bg_cloud04_pc.png), url(../img/voice02_bg_pc.png);
    background-size: 149rem, 100%;
    background-position: center -1rem, center bottom;
  }
}
@media screen and (max-width: 768px) {
  .voice02 {
    background-image: url(../img/bg_cloud04_sp.png), url(../img/voice02_bg_sp.png);
    background-size: contain;
    background-position: center 2rem, center bottom;
  }
}
@media screen and (min-width: 769px) {
  .voice02 .ttl01 {
    width: 24.7rem;
  }
}
@media screen and (max-width: 768px) {
  .voice02 .ttl01 {
    width: 34.5rem;
  }
}
@media screen and (min-width: 769px) {
  .voice02 .ttl01 p {
    width: 15.2rem;
    top: -8rem;
    left: -14rem;
  }
}
@media screen and (max-width: 768px) {
  .voice02 .ttl01 p {
    width: 17.8rem;
    top: -10rem;
    left: -14rem;
  }
}

@media screen and (min-width: 769px) {
  .voice02_wrap {
    padding: 14rem 0 16rem;
  }
}
@media screen and (max-width: 768px) {
  .voice02_wrap {
    padding: 2.5rem 0 8.5rem;
  }
}

.voice02_desc {
  display: grid;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .voice02_desc {
    margin-top: 7rem;
    grid-template-columns: 81.5rem;
    row-gap: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .voice02_desc {
    margin-top: 8rem;
    grid-template-columns: 65.6rem;
    row-gap: 3rem;
  }
}

.consult {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.consult_wrap {
  margin-inline: auto;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
}
@media screen and (min-width: 769px) {
  .consult_wrap {
    justify-content: left;
    align-items: flex-start;
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .consult_wrap {
    justify-content: flex-start;
  }
}

.consult-img {
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  /* 画像の指定 */
  background-size: cover; /* エリア全体を覆うように表示 */
  background-position: center; /* 中央を基準にする */
  background-repeat: no-repeat;
  /* 重要：背景画像にする場合は、要素自体に高さが必要 */
}
@media screen and (min-width: 769px) {
  .consult-img.-pc {
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .consult-img.-pc {
    display: none;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 769px) {
  .consult-img.-sp {
    display: none;
    width: 140rem;
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .consult-img.-sp {
    justify-content: flex-start;
  }
}

.consult_desc {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  right: 0;
  height: auto;
}
@media screen and (min-width: 769px) {
  .consult_desc {
    row-gap: 0rem;
    top: 1.9rem;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .consult_desc {
    row-gap: 1.5rem;
    top: 0rem;
    width: 60%;
  }
}

.consult_txt {
  height: auto;
}
@media screen and (min-width: 769px) {
  .consult_txt {
    width: 50rem;
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 768px) {
  .consult_txt {
    width: 28.8rem;
  }
}

@media screen and (min-width: 769px) {
  .consult_cta.-pc > a {
    width: 50rem;
  }
}
@media screen and (max-width: 768px) {
  .consult_cta.-pc > a {
    display: none;
    width: 32rem;
    height: 6.5rem;
  }
}
@media screen and (min-width: 769px) {
  .consult_cta.-sp > a {
    display: none;
    width: 45.6rem;
  }
}
@media screen and (max-width: 768px) {
  .consult_cta.-sp > a {
    height: 10.5rem;
  }
  .consult_cta.-sp > a::after {
    background-image: none;
  }
}

.cta_floating_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 100;
  width: 500px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(12px);
}
@media screen and (max-width: 768px) {
  .cta_floating_button {
    display: none;
  }
}

.cta_floating_button.is-visible {
  display: block;
  animation: showButton 0.4s forwards;
  animation-delay: 0.6s;
}
@media screen and (max-width: 768px) {
  .cta_floating_button.is-visible {
    display: none;
  }
}

@keyframes showButton {
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
  }
}
.cta_floating_button.is-hidden {
  display: none;
}

.chatbot-iframe-wrapper.is-open {
  display: block;
  animation: showChatbotIframe 0.4s forwards;
}
@media screen and (max-width: 768px) {
  .chatbot-iframe-wrapper.is-open {
    display: none;
  }
}

.chatbot-iframe-wrapper.is-close {
  display: block;
  animation: closeChatbotIframe 0.4s forwards;
}
@media screen and (max-width: 768px) {
  .chatbot-iframe-wrapper.is-close {
    display: none;
  }
}

.chatbot-iframe-wrapper {
  position: fixed;
  z-index: 100;
  right: 25px;
  bottom: 25px;
  border-radius: 15px;
  overflow: hidden;
  width: 500px;
  height: 90vh;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  max-height: 670px;
  display: none;
}

@keyframes showChatbotIframe {
  from {
    transform: translateY(110%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes closeChatbotIframe {
  from {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translateY(110%);
    opacity: 0;
    visibility: hidden;
  }
}
.chatbot-iframe-wrapper iframe {
  width: 100%;
  border: none;
}

.chatbot-iframe-inner {
  position: relative;
  height: 100%;
}

.chatbot-close-btn-wrapper {
  position: absolute;
  right: 15px;
  top: 10px;
}

.chatbot-close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  position: relative;
}

.chatbot-close-btn span {
  display: block;
  margin: 0;
  border: none;
  height: 3px;
  background: #fff;
  position: absolute;
}

.chatbot-close-btn span:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg);
  width: 100%;
}

.chatbot-close-btn span:nth-of-type(2) {
  top: 6px;
  transform: rotate(-45deg);
  width: 100%;
}/*# sourceMappingURL=style.css.map */